.rmodal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px); // 添加这行来应用模糊效果
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  z-index: 10;
  padding-bottom: 60px;
  .routes {
    flex: 1;
    p {
      margin-top: 80px;
      font-size: 24px;
    }
  }
}