.reward {
  width: 375px;
  font-family: "Alum";
  padding-top: 44px;
  background-color: rgba(11, 12, 11, 1);
  overflow-x: hidden;
  .h {
    .circle-g {
      position: absolute;
      width: 375px;
      height: 375px;
      top: -150px;
      left: -150px;
    }
  }
  // .circle-g:nth-child(2) {
  //   position: absolute;
  //   top: 620px;
  //   right: -10px;
  // }
  .main-g {
    width: 260px;
    margin: auto;
    margin-top: 20px;
    p {
      font-size: 48px;
      line-height: 58px;
      color: #fff;
      &:first-child {
        color: rgba(0, 255, 10, 1);
      }
    }
    .f-c {
      width: 66px;
      height: 66px;
      background: url("/images/circle-c.png") no-repeat;
      position: absolute;
      top: 5px;
      right: -0px;
    }
    .m-img {
      width: 260px;
      height: 305px;
      background: url("/images/m-img.png") no-repeat;
      background-size: contain;
      position: relative;
    }
    .l-c {
      width: 85px;
      height: 66px;
      background: url("/images/l-cir.png") no-repeat;
      position: absolute;
      left: -7px;
      bottom: 7px;
    }
  }
  .border-c {
    border: 1px solid #00ff0a;
    border-radius: 16px;
  }
  .op-c {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    .circle-g {
      position: absolute;
      top: 120px;
      right: -150px;
      z-index: 0;
    }
    p {
      position: relative;
      z-index: 2;
    }
    .m {
      font-size: 24px;
      line-height: 28px;
    }
    .m-t {
      width: 320px;
      height: 164px;
      margin: auto;
      margin-top: 70px;
      margin-bottom: 20px;
      padding: 0 20px;
      color: #00ff0a;
      line-height: 80px;
      position: relative;
      z-index: 2;
      backdrop-filter: blur(65px);
      .t {
        font-size: 24px;
        text-align: left;
        border-bottom: 1px solid #00ff0a;
      }
      .b {
        font-size: 48px;
        text-align: right;
      }
      .r-i {
        display: inline-block;
        width: 109px;
        height: 89px;
        background: url("/images/rward-tm.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -50px;
        right: -15px;
      }
    }
    .op {
      margin: 0 30px;
      margin-top: 20px;
      .adm-button {
        height: 41px;
        flex: 1;
        font-size: 24px;
        border-radius: 8px;
        border: none;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            margin-right: 10px;
          }
        }
        .x {
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url("/images/x.png") no-repeat;
          background-size: contain;
        }
        .t {
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url("/images/t.png") no-repeat;
          background-size: contain;
        }
      }
      .adm-button:first-child {
        margin-right: 10px;
        // flex: 0 0 114px;
      }
      .adm-button:last-child {
        background-color: rgba(0, 255, 10, 1);
      }
    }
    .circle-g {
      position: absolute;
      width: 200px;
      height: 200px;
      left: -50px;
      top: 50px;
    }
  }
  .info {
    width: 375px;
    background: url("/images/bg.png") no-repeat;
    background-size: 375px 76px;
    margin-top: 20px;
    padding: 30px 0;
    padding-top: 60px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(65px);
    p {
    }
    .circle-g {
      position: absolute;
      right: -150px;
      top: 0px;
    }
    .t {
      font-size: 20px;
      color: #fff;
      position: relative;
      z-index: 2;
    }
    .copy {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url("/images/copy.png") no-repeat;
      background-size: contain;
      margin-left: 20px;
      position: relative;
      z-index: 2;
    }
    .m {
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      margin-top: 12px;
      margin: 0 40px;
    }
    .map {
      width: 333px;
      height: 182px;
      background: url("/images/cBg.png") no-repeat;
      background-size: contain;
      margin: 20px auto;
    }
    .adm-button {
      width: 207px;
      height: 41px;
      border: none;
      border-radius: 8px;
      background-color: rgba(0, 255, 10, 1);
    }
  }
  .tables {
    width: 375px;
    padding: 0px 30px;
    position: relative;
    z-index: 2;
    .circle-g {
      position: absolute;
      width: 375px;
      height: 375px;
      right: 0;
      top: 700px;
    }
    .h {
      position: relative;
      p:first-child {
        margin-right: 10px;
      }
      p {
        line-height: 40px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 20px;
        color: #fff;
        text-align: center;
      }
      .ac-info {
        border-color: #00ff0a;
        color: #00ff0a;
      }
    }
    .infos {
      margin-top: 10px;
      padding: 20px 12px;
      font-size: 14px;
      color: #fff;
      margin-bottom: 20px;
      backdrop-filter: blur(65px);
    }
    .tabs {
      position: relative;
      margin-top: 20px;
      backdrop-filter: blur(65px);
      p {
        line-height: 32px;
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        &:first-child {
          font-size: 20px;
        }
      }
      .line {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}
