.comp-c {
  margin: auto;
  margin-top: 40px;
}

.comp {
  // height: 200px;
  width: 204px;
  &-i {
    .active  {
      display: none;
    }
    &:hover {
      .active {
        display: block;
      }
      .deactive {
        display: none;
      }
    }
  }
}
.comp-c0 {
  width: 48px;
  height: 48px;
  background: url("/images/c0.png") no-repeat;
  background-size: contain;
}
.comp-c0:hover {
  width: 48px;
  height: 48px;
  background: url("/images/c0-a.png") no-repeat;
  background-size: contain;
}
.comp-c1 {
  width: 48px;
  height: 48px;
  background: url("/images/c1.png") no-repeat;
  background-size: contain;
}
.comp-c1:hover {
  width: 48px;
  height: 48px;
  background: url("/images/c1-a.png") no-repeat;
  background-size: contain;
}
.comp-c2 {
  width: 48px;
  height: 48px;
  background: url("/images/c2.png") no-repeat;
  background-size: contain;
}
.comp-c2:hover {
  width: 48px;
  height: 48px;
  background: url("/images/c2-a.png") no-repeat;
  background-size: contain;
}