.footer {
  .foot {
    width: 375px;
    height: 76px;
    background: url("/images/bg1.png") no-repeat;
    background-size: contain;
    padding-top: 35px;
    margin-top: 30px;
  } 
  .logo {
    width: 30px;
    height: 30px;
    background: url("/images/logo-f.png") no-repeat;
    background-size: contain;
  }
}